/* Should be empty until you compile your LESS */


body{
    Background: #FFFFFF;
    Color: #222222;
    Font-Family: Roboto, Arial, sans-serif;
    width:100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
nav {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    background-color: #9FA9B3;
    font-weight: Bold;
    height: 4vh;
    padding: .5%;
}

#header {
    Font-Size: 3rem;
    margin-top: .5%;
    margin-left: .5%
}

.hamburger-menu-icon {
    height: 65%;
    margin-top: .5%;
    margin-right: 2%;
}
body p{
    Font-Weight: Regular;
    Font-Size: 16px;
    Line-Height: 24px;
}
.home img{
    width:100%;
    height:100vh;
    z-index: -5;

}
.home{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height:25% ;
}
.hometext {
    position: absolute;
    Font-Weight: Bold;
    Font-Size: 64px;
    Line-Height: 75px;
    Color: #FFFFFF;
    padding:2rem;
}
.slogan{
    margin:auto;
    padding:1rem;
}
.about{
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.aboutbox{
    position: relative;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    width: 50%;
}
.toptext{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:auto;
    padding:0 1rem;
}
.button{
    border: 2px solid #222222;
    padding:1rem;
    width:40%;
}
#smith{
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}
#outskirts{
    flex-direction: row;
}
#outskirtcontainer{
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
.recentprojects{
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: center;
    width: 100%;
}
.projecttext{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:2rem;
    align-items: center;
   
}
.projects{
    width:50%;
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    
}
.projects p{
    width:50%;
}
.projectimg{
    
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
.splashtext{
    width:40%;
    position: absolute;
    background-color: #D8D8D8;
    text-align: center;
    top: 85%;
    letter-spacing: 1rem;
}

.about .recentprojects h2{
    Font-Weight: Bold;
    Font-Size: 28px;
    Color: #222222;
}
.recenttitle{ 
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width:100%;
}
.recenttitle h2{
    text-align: start;
}
#disclosure{
    color:#828282;
    padding-top: 0;
    margin-top: 0;
}
footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    color: #FFF;
    background-color: #828282;
}

.email-form input{
    margin-top: 1%;
    margin-bottom: 1%;
    border: none;
}

.email-form p {
    font-size: 1rem;
}

footer input {
    width: 100%;
    height: 3.5vh;
    border-radius: 3px;
    font-size: 1.5rem;
}

footer h4 {
    font-size: 1.2rem;
    margin-bottom: 5%;
}

.address h4 {
    margin-bottom: 8%;
}

.address p {
    font-size: 1rem;
    margin: 1% 0;
}

.copyright-container {
    display: flex;
    justify-content: center;
    background-color: #828282;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 1rem;
}
@media (max-width: 500px) {
    header{
        display: flex;
        flex-direction: row;
        width: 55rem;
         }
    nav #header{
        font-size:3rem;
        padding:2.5rem;
        
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        padding-bottom: 5rem;
    }
    .home {
      
        width:140%;
    }
    .home img{
        width:55rem;
    }
    #header {
        font-size: 1.5rem;
        margin-top: 1%;
        width: 100%;
    }
    
    .hamburger-menu-icon {
        width:7rem;
        padding:2rem;
        height:2.5rem;
        
    }
    footer {
        flex-direction: column;
        justify-content: space-evenly;
        width: 55rem;
    }
    .copyright-container{
        width: 55rem;  
    }
    footer input {
        height: 2vh;
    }
    #smith{
        flex-direction: column;
    }
    .aboutbox img{
        width:55rem;
        padding-left:2%;
       
    }
    .about{
        align-content: center;
    }
    .aboutbox{
        width:100%;
        flex-direction: column;
        align-items: normal;
    }
    .aboutbox .toptext p{
        line-height: 3rem;;
    }
    .aboutbox .toptext h2{
        width:40rem;
        font-size:3.1rem; 
        margin-left:1.0rem;
    }
    .button{
        margin-left:3rem;
        padding: 1.5rem 10rem;
        text-align: center;
        font-size:1.5rem;
    }
    body p{
        font-size:2rem;
        width: 30rem;   
    }
    .projecttext{
        width:100rem;
        text-align: left;
        margin-left:23rem;
        padding-top:8rem;
    }
    .projectimg{
        width:55rem;
        margin-left:21rem;
    }
    .projecttext p{
        line-height: 2.5rem;
    }
    #outskirts .splashtext{
        margin-left:15rem;
    }
    .splashtext{
        margin-right:15rem;
        font-size:1.5rem;
        padding:2rem;
        position: absolute;
    }
    .address{
        padding:1rem;
    }
    .address h4{
        margin: 0 auto;
        font-size:2rem;
    }
    .address p{
        font-size:1.3rem ;
        line-height: 2rem;
    }
    .email-form h4{
        font-size:2.5rem;
        margin-left:1rem;
    }
    #email-form{
        padding:2rem 0 2rem 0;
        width:85%;
        margin-left:1rem;
    }
    .email-form p{
    font-size:1.5rem;
    margin-left:1rem;
    white-space: nowrap;
    }
    .copyright-container p{
        margin-right:36rem;
        text-align:left;
    }
    .toptext P{
        width:50rem;
    }
    .toptext{
        margin-left:1rem;
        width:60rem;
    }
}
